<footer>
    <div class="f-info">
        <div class="f-info-social">

         <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>

        </div>
        <div> @ StayHub Private Limited</div>
        <div class="f-info-links">
            
            <a href="#">Privacy</a>
            <a href="#">terms</a>
        </div>
    </div>
</footer>