<nav class="navbar navbar-expand-md custom-navbar sticky-top">
  <div class="container-fluid px-4">

    <!-- Brand -->
    <a class="navbar-brand brand-logo" href="/listings">
      <i class="fa-solid fa-compass"></i>
      <span>StayHub</span>
    </a>

    <!-- Toggle -->
    <button class="navbar-toggler border-0 shadow-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Left -->
      <div class="navbar-nav">
        <a class="nav-link nav-hover" href="/listings">Explore</a>
      </div>

      <!-- Right -->
      <div class="navbar-nav ms-auto align-items-center gap-2">

        <a class="btn host-btn" href="/listings/new">
          StayHub your home
        </a>

        <% if(!curruser){ %>

          <a class="btn btn-outline-dark rounded-pill px-4" href="/signup">
            Sign up
          </a>

          <a class="btn login-btn rounded-pill px-4" href="/login">
            Login
          </a>

        <% } else { %>

          <a class="btn logout-btn rounded-pill px-4" href="/logout">
            Logout
          </a>

        <% } %>

      </div>
    </div>
  </div>
</nav>