<% layout("layouts/boilerplate") %>

<div class="form-container">
  <h2 class="form-title">Create New Listing</h2>

  <form method="post" action="/listings" class="listing-form needs-validation" novalidate enctype="multipart/form-data">

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" name="listing[title]" placeholder="Enter listing title" required>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="listing[description]" placeholder="Describe your place" required></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price (₹)</label>
      <input type="number" id="price" name="listing[price]" placeholder="Enter price" required>
    </div>

    

     <div class="form-group" >
      <label for="image">Upload Listing Image</label>
      <input type="file" id="image" name="listing[image]"  required>
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" id="location" name="listing[location]" placeholder="City / Area" required>
    </div>

    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" id="country" name="listing[country]" placeholder="Country name" required>
    </div>

    <button type="submit" class="btn-submit">Create Listing</button>
  </form>
</div>
